test*
data/DRD_data/train
data/DRD_data/test
data/DRD_data/
data/ECG_data/
data/Xray/train_balanced
data/Xray/train
data/Xray/test_balanced
data/Xray/test
data/CatDog/train
data/CatDog/test
data/OCT/sample_1
data/OCT/sample_test1
data/data_nums
__pycache__/
.idea
.DS_Store
.ipynb_checkpoints/
MNIST_data/
dataSet/DataSet.py
