test*
data/DRD_data/train
data/DRD_data/test
data/ECG_data/
data/Xray/train_balanced
data/Xray/train
data/Xray/test_balanced
data/Xray/test
__pycache__/
.idea
.DS_Store
.ipynb_checkpoints/
MNIST_data/
dataSet/DataSet.py