test*
data/DRD_data/
data/ECG/
data/OCT/test
data/OCT/train
data/MC/train
data/MC/test
data/BH/train
data/BH/test
data/data_nums
data/MNIST
record/
__pycache__/
.idea
.DS_Store
.ipynb_checkpoints/
MNIST_data/
dataSet/DataSet.py
train/central_train/BH.py
train/central_train/DRD.py
train/central_train/MD.py
train/central_train/OCT.py
train/central_train/SC.py
train/central_train/Xray.py
run_*
